{{> header}}
<div class="shoes">
    {{#each offers}}
    <div class="shoe">
        <img src="{{ this.imageUrl }}">
        <h3>{{ this.productName }}</h3>
        <a href="#/details/{{ id }}">Buy it for {{ this.price }}</a>
    </div>
    {{else}}
    <p>No ofers to display... </p>
    {{/each}}
</div>
{{> footer}}